.sidebar{
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 0px;
    bottom: 0px;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color:  #8D230F;
    overflow-x: hidden;
    padding-bottom: 40px;
    text-align: center;
   

}

h3 {
        color: #C0B2B5;
      text-align: center;
        
        }
        h4{
             color: #C0B2B5;
      text-align: center;
        }
    .list-group{
        background: #8D230F;
    }
        a.list-group-item{
            background: #8D230F;
            border: 0;
            border-radius: 0;
            color: #999;
            text-decoration: none;
        
    }
    a:hover{
            background: #8D230F;
            color:white ;
        }
   
    @media screen and (max-width: 992px) {
    .sidebar {
        top: 54px;
        left: 0px;
    }
}
       